<h2 mat-dialog-title>{{post.title}}</h2>

<mat-dialog-content [formGroup]="editForm">

  <mat-form-field>
    <input matInput placeholder="" formControlName="title">
  </mat-form-field>

  <mat-form-field>
    <mat-select placeholder="Author" formControlName="userId">
      <mat-option *ngFor="let user of users" [value]="user.userId">
        {{user.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-select placeholder="Read?" formControlName="isRead">
      <mat-option [value]="true">
        Yes
      </mat-option>
      <mat-option [value]="false">
        Nop
      </mat-option>
    </mat-select>
  </mat-form-field>


  <mat-form-field>
    <textarea matInput rows="6" placeholder="Description" formControlName="body"></textarea>
  </mat-form-field>


</mat-dialog-content>

<mat-dialog-actions>
  <button class="mat-raised-button" (click)="onCancel()">
    Cancel
  </button>
  <button class="mat-raised-button mat-primary" #saveButton (click)="onSave()">
    Save
  </button>
</mat-dialog-actions>