<mat-card *ngFor="let post of posts" class="post-card mat-elevation-z10">
  <mat-card-header>
    <mat-card-title>{{post.postId}}, {{post.title}}</mat-card-title>
  </mat-card-header>


  <mat-card-content>
    <h5>
      by {{post.user.name}}
    </h5>


    <p>{{post.body}}</p>
  </mat-card-content>

  <mat-card-actions class="post-actions">

    <button mat-button class="mat-raised-button mat-primary" [routerLink]="['/posts', post.postId]">
      View Post
    </button>

    <button mat-button class="mat-raised-button mat-accent" (click)="onEditPost(post)">
      Edit Post
    </button>

    <button mat-button class="mat-raised-button mat-warn" (click)="onDeletePost(post.postId)">
      Delete Post
    </button>

  </mat-card-actions>

</mat-card>